* {
  box-sizing: border-box;
  border: 2px;
  border-radius: 25px;
}


}
body {
  font-family:monospace;
}

header,
#play-area {
    text-align: center;
}

.deck {
  cursor:pointer;

}

.play {
  cursor:pointer;

}
/* =================================
DEFAULT STYLES (NO MEDIA QUERY)
Device width:
    320px -->   <-- 768px
==================================== */

/* =================================
Device width:
    <-- 320px
==================================== */
@media (max-width: 320px) {

}
/* =================================
Device width:
    768px -->   <-- 1024px
==================================== */
@media (min-width: 768px) {

}
/* =================================
Device width:
    1024px -->
==================================== */
@media (min-width: 1024px) {

}
