* {
  box-sizing: border-box;
  border: 50px;
  border-radius: 25px;
}

#rules {
  background-color: #F1F1F1;
}


#h1 {
  height: 64px;
  width: 500px;
  background-color: white;
  font-size: 28px;
  /* background-color: #FCFCFC; */
  text-align: center;
}

#h2 {
  text-align: center;
  text-decoration: underline;
}
body {
  font-family: monospace;
}

header,
#play-area {
    text-align: center;
}

.deck {
  cursor: pointer;
}

.play {
  cursor: pointer;
}
/* =================================
DEFAULT STYLES (NO MEDIA QUERY)
Device width:
    320px -->   <-- 768px
==================================== */

/* =================================
Device width:
    <-- 320px
==================================== */
@media (max-width: 320px) {
}
/* =================================
Device width:
    768px -->   <-- 1024px
==================================== */
@media (min-width: 768px) {
}
/* =================================
Device width:
    1024px -->
==================================== */
@media (min-width: 1024px) {
}
