* {
  box-sizing: border-box;
  border: 2px;
  border-radius: 25px;
}


}
body {
  font-family:monospace;
    border-radius: 500px;
}

header,
#play-area {
    text-align: center;
}

.deck {
  cursor:pointer;

}

.play {
  cursor:pointer;

}



@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}
im already tracer
